{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.3"
                              :scope       "provided"}
         re-frame/re-frame   {:mvn/version "1.1.1"
                              :scope       "provided"}}
 :aliases
 {:jar     {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
            :exec-fn      hf.depstar/jar
            :exec-args    {:jar "headlessui-reagent.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn      deps-deploy.deps-deploy/deploy
            :exec-args    {:installer :local :artifact "headlessui-reagent.jar"}}
  :deploy  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn      deps-deploy.deps-deploy/deploy
            :exec-args    {:installer :remote :artifact "headlessui-reagent.jar"}}}}
